
  body{
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  }
  h1,h2,h3 {
    color: #740068;
  }
  .head {
    background:#dfc6df;
    height: 400px;
    padding: 20px;
  }
  .infopersonal{
    width:500px;
  }
  p {
    font-family: verdana;
    font-size: 20px;
  }
  img {
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 5px;
    width: 300px;
    float: right;
  }
  
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }